<html>
  <%- include("./partials/head.ejs") %>
  <body>
<%- include("./partials/nav.ejs") %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quas,
        optio ducimus officiis aliquid reprehenderit quos beatae esse, sequi
        repudiandae repellendus minus vero ea quaerat!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quas,
        optio ducimus officiis aliquid reprehenderit quos beatae esse, sequi
        repudiandae repellendus minus vero ea quaerat!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quas,
        optio ducimus officiis aliquid reprehenderit quos beatae esse, sequi
        repudiandae repellendus minus vero ea quaerat!
      </p>
    </div>
  </body>
</html>
